html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#main-splitter {
    flex: 1 1 auto;
    height: 1px;
}

#toolbar {
}

#prop-splitter {
    height: 100%;
}

#edit-view {
    overflow: hidden;
}

#render-view {
    overflow: hidden;
}

#edit-canvas {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

#render-canvas {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.editor-property-image {
    height: 16px;
}